@import "_normalize";
@import "_common";
@import "syntax/_syn";

@black: #4a4a4a;

* {
  // font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-size: 14px;

  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;

  padding: 0;
  margin: 0;
  color: #555;

  .box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 150px 0;
}

.nav {
  width: 90px;
  position: fixed;
  overflow: hidden;
  border-right: solid 1px @green;
  margin-top: 30px;

  > * {
    line-height: 40px;
    text-align: center;
  }

  .logo {
    display: block;
    text-decoration: none;

    .hi {
      font-family: 'Open Sans';
      font-style: italic;

      display: block;
      text-align: center;
      margin: 0px auto;
      font-size: 18px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 25px 25px 1px 25px;

      color: @grey;
      background: @orange;
      text-shadow: -1px 1px @orange-shadow;

      position: relative;
    }

    .me {
      font-family: 'Open Sans';
      font-style: italic;
      color: @blue;
      font-size: 14px;
      height: auto;
      text-align: center;
      display: block;
      line-height: 18px;
      margin: 10px auto 10px auto;
    }
  }

  ul.social {
    list-style: none;
    display: block;
    position: relative;
    padding: 0;
    margin: 20px 0 0 0;

    li {
      display: block;
      a {
        font-family: 'socials';
        color: @blue;
        font-size: 16px;
        display: block;
        text-align: center;

        display: block;
        font-size: 20px;
        vertical-align: baseline;
        text-decoration: none;
      }
    }
  }
}

.content {
  -webkit-overflow-scrolling: touch;
  margin-left: 90px;
  background: @grey;
  padding: 30px;
  min-width: 500px;
  height: 100%;
  overflow: auto;
  position: relative;

  article {
    overflow: auto;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: @blue;
  }

  header {
    padding: 10px;
    border-radius: 2px;
    font-style: italic;
    font-size: 18px;
  }

  .gist *{
    font-size: 14px;
    font-family: 'Monaco', 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  time {
    display: block;
    font-style: italic;
    font-size: 12px;
    border-bottom: solid 1px @black;
    padding: 0 0 10px 0;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 80;
    margin: 100px 0 15px 0;
    position: relative;
    //font-family: 'Monaco';
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;

    &:first-child {
      margin-top: 0;
    }
  }

  code {
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.2em;
    margin: 0;
    font-size: 85%;
  }

  .twitter-share-button {
    float: right;
    margin-top: 22px;
    // position: absolute;
    // top: 0;
    // right: 0;
    // display: none;
  }

  h1 { font-size: 40px; color: @orange; margin-top: 0; width: 520px}
  h2 { font-size: 30px; }
  h3 { font-size: 25px; }
  h4 { font-size: 15px; }

  blockquote, .note, .warning {
    display: block;
    border-left: solid 4px @green;
    padding: 0 15px;
    margin: 15px 0;
    font-size: 18px;

    .from {
      display: block;
      text-align: right;
      margin: 20px 0;
      font-style: italic;
      font-weight: bold;
      color: #BABABA;
    }
  }

  .note {
    border-color: @orange;
  }

  .warning {
    border-color: @orange;
    padding: 10px;
  }

  pre {
    margin : 10px;
  }

  p {
    margin: 50px 0;

    &:first-child {
      margin-top: 100px;
    }
  }

  img {
    display: block;

    max-width: 500px;
    max-height: 500px;
    margin: 30px auto;
  }

  ul, ol {
    margin: 15px;
    padding: 0 0 0 15px;
  }

  ul {
    list-style: circle;
  }
}

#disqus_thread {
  margin-top: 20px;
  padding: 20px;
  border-top: solid 1px @green;
}

a.next, a.previous {
  display: inline-block;
  height: 60px;
  margin-top: 20px;
  background: @orange;

  font-size: 12px;
  border-radius: 2px;

  .transition(background .2s ease-out);
  font-family: 'Monaco';
  color: @grey;
  font-weight: normal;

  &:hover { background: @orange-shadow; }

  span {
    font-size: 12px;
    display: block;
    float: left;
    color: @grey;
    width: 160px;
    height: 60px;
    padding: 5px;
    text-overflow: ellipsis;
  }
}

a.previous::before {
  .box-sizing(border-box);
  display: block;
  content: '<';
  height: 60px;
  line-height: 60px;
  width: 25px;
  float: left;
  text-align: center;
}

a.next {
  margin-left: auto;
  float: right;

  span {
    padding-left: 10px;
  }

  &::after {
    content: '>';
    .box-sizing(border-box);
    display: block;
    height: 60px;
    line-height: 60px;
    width: 25px;
    float: left;
    text-align: center;
  }
}

/*
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

  .nav {
    height: 80px;
    width: 100%;
    box-shadow: inset 0px -1px 2px rgba(0,0,0,.8);

    > * {
      float: left;
      height: 80px;
      margin: 15px 0;
      text-align: center;
    }

    .me {
      width: 200px;
      line-height: 80px;
      margin: 0 20px 0 5px;
      font-size: 16px;
    }

    .cloud {
      margin-top: 22px;
      -webkit-transform: scale(.8);
      margin-right: 20px;
    }

    .social {
      width: 200px;
      li {
        float: left;
        width: 40px;
        margin: 0;
        line-height: 80px;
        font-size: 70px;
      }
    }
  }

  .content {
    margin: 80px 0 0 0;

    img {
      max-width: 300px;
    }
  }
}
*/